html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("Imagens/BGart_Playercadastro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.login-box{
    border: solid 3px rgb(241, 241, 241);
    border-radius: 9%;
    background-color: black;
    margin: 0 auto;  
    width: 50%;       
    height: 50%;
    padding-bottom: 7%


}
h1{
    color: aliceblue;
    text-align: center;
    font-size:500%;
}
label, p{
    color: aliceblue;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px auto 0 auto;
}

input{
    background-color: black;
    color: aliceblue;
    border-radius: 20%;
    border: solid 2px rgb(153, 153, 153);
       width: 20%;
    padding: 1.2%;
    font-size: 18px;
    margin: 20px auto 0 auto;
}
.submit-btn {
    background-color: #444;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    border: 2px solid #85c982;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;

    
}
.linha {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

.lado {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.lado input {
    width: 90%;
}
select {
    background-color: black;
    color: aliceblue;
    border-radius: 20%;
    border: solid 2px rgb(153, 153, 153);
    width: 90%; 
    padding: 1.2%;
    font-size: 18px;
    margin: 20px auto 0 auto;
}