body{
    background-color: rgb(43, 43, 43);
}
.top {
       background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("Imagens/piltover_blue_sky.jpg");
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}

h1{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.last-access{
    color: rgb(146, 146, 146);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box_botoes{
    align-self: center;
     margin: 0 auto;  
}
.buttons .btn {
    font-size: 300%;
    padding: 15px 40px;
    border-radius: 12px;
}
