
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("Imagens/fundo_LoL.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-box{
    border: solid 3px rgb(241, 241, 241);
    border-radius: 9%;
    background-color: black;
    margin: 0 auto;  
    width: 50%;       
    height: 50%;
    padding-left: 2%;
    padding-bottom: 6%;


}
h1{
    color: aliceblue;
    text-align: center;
    font-size:500%;
}
label, p{
    color: aliceblue;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
}

input{
    background-color: black;
    color: aliceblue;
    border-radius: 20%;
    border: solid 2px rgb(153, 153, 153);
       width: 70%;
    padding: 1.2%;
    font-size: 18px;
}
.submit-btn {
    background-color: #444;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    border: 2px solid #85c982;
    font-size: 18px;
    cursor: pointer;
    display: block;

    margin-left: 79%;
    
}